/* Add this CSS in a separate file named Book.css */

.books {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  height: 90px;
}

.books span {
  font-size: 16px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(255, 110, 13, 0.6);
}

.books button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.books button:hover {
  background-color: #d32f2f;
}
